:root
{
  --cor0: rgb(0,0,0);
  --cor1: rgb(255,255,255);
  --cor2: rgb(0,100,200);
  --cor3: teal;
  --cor4: rgb(200,0,0);
  --cor5: rgb(150,0,150);

  --cor10: rgb(42,42,42);
  --cor11: rgb(220,220,220);
  --cor12: rgb(100,200,250);
  --cor13: rgb(200,250,250);
  --cor14: rgb(255,200,200);
  --cor15: rgb(250,150,250);

  --cor20: rgb(82,82,82);
}

*
{
  font-family: 'Courier New', Courier, monospace;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
    position: relative;
    /* min-height: 100vh; */
    width: 100%;
    overflow: hidden;
}
