:root
{
  --cor0: rgb(0,0,0);
  --cor1: rgb(255,255,255);
  --cor2: rgb(0,100,200);
  --cor3: teal;
  --cor4: rgb(200,0,0);
  --cor5: rgb(150,0,150);

  --cor10: rgb(42,42,42);
  --cor11: rgb(220,220,220);
  --cor12: rgb(100,200,250);
  --cor13: rgb(200,250,250);
  --cor14: rgb(250,200,100);
  --cor15: rgb(250,150,250);
}

*
{
  font-family: 'Courier New', Courier, monospace;  
  font-size: 18px;
  color: var(--cor0);
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

h1 
{
  color: var(--cor3);
  font-size: 200%;
}
h2 
{
  color: var(--cor3);
  font-size: 160%;
}
h3
{
  color: var(--cor4);
  font-size: 140%;
}


.header-msg
{
  text-align: center;
  padding: 20px;
  background-color: var(--cor11);
}
.header-msg p
{
  font-size: 20px;
}






.menu-h
{
  position: sticky;
  top: 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  background-color: var(--cor10);
}

 .menu-h .menu-start
 {
   display: flex;
   align-self: initial;
   margin-left: 1px;
   margin-right: 10px;
  float: left;
   padding: 10px;
 }

 .menu-h .menu-center
{
  display: flex;
  margin-left: 0px;
}
 .menu-h .menu-end
 {
   display: flex;
   margin-right: 1px;
   padding: 10px;
 }
  
.menu-h 
.menu-start:hover,
.menu-end:hover
{
  background-color: var(--cor0);
}


.menu-h ul
{
  list-style: none;
  padding: 0;
  background-color: var(--cor10);
  position: sticky;
  top: 0;
}
.menu-h ul li
{
  display: inline;
}
.menu-h ul li a
{
  color: var(--cor1);
  padding: 20px;
  display: inline-block;
  text-decoration: none;

}

.menu-h ul li a:hover
{
  background-color: var(--cor0);
}



.separator
{
  background-color: var(--cor3);
  height: 5px;
}



.social-media
{
  display: flex;
  background-color: var(--cor11);
}
.social-media ul
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-media ul li
{
  display: flex;
  margin: 10px;
  margin-inline: 30px;
}
.social-media ul li a:hover
{
  opacity: var(--cor2);
}




.footer-copyleft
{
  background-color: var(--cor11);
  align-items: center;
  text-align: center;
}
svg
{
  width: 42px;
  height: 42px;
}

.svg-nav-fill
{
  fill: var(--cor1);
}

.svg-footer-fill:hover
{
  fill: var(--cor3);
}


