:root
{
  /* --cor0: rgb(0,0,0);
  --cor1: rgb(255,255,255);
  --cor2: rgb(0,100,200);
  --cor3: teal;
  --cor4: rgb(200,0,0);
  --cor5: rgb(150,0,150);

  --cor10: rgb(42,42,42);
  --cor11: rgb(220,220,220);
  --cor12: rgb(100,200,250);
  --cor13: rgb(200,250,250);
  --cor14: rgb(255,200,200);
  --cor15: rgb(250,150,250);

  --cor20: rgb(82,82,82); */

  --cor1:  #000000;
  --cor10: #000000;
  --cor11: #303030;
  --cor12: #606060;
  --cor13: #909090;
  --cor14: #C0C0C0;
  --cor15: #F0F0F0;

  --cor2:  #FFFFFF;
  --cor20: #FFFFFF;
  --cor21: #CFCFCF;
  --cor22: #9F9F9F;
  --cor23: #6F6F6F;
  --cor24: #3F3F3F;
  --cor25: #0F0F0F;

  --cor3:  #008080;
  --cor30: #00F0F0;
  --cor31: #00C0C0;
  --cor32: #00A0A0;
  --cor33: #008080;
  --cor34: #006060;
  --cor35: #004040;

  --cor4:  #800080;
  --cor40: #F000F0;
  --cor41: #C000C0;
  --cor42: #A000A0;
  --cor43: #800080;
  --cor44: #600060;
  --cor45: #400040;
}

*
{
  font-family: 'Courier New', Courier, monospace;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
    position: relative;
    /* min-height: 100vh; */
    width: 100%;
    overflow: hidden;
}

