<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header id="header-msg">
            <div>
                <h2>Scroll Down</h2>
                <p>Scroll down to see the sticky effect.</p>
            </div>
        </header>
        <nav id="menu-h">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Entrar</a></li>
            </ul>
        </nav>
        <body>
            {% block content%} {% endblock %}
        </body>
        <footer>
            <nav id="social-media">
                <ul>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">LinkedIn</a></li>
                    <li><a href="">GitHub</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>