<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <!-- <h1>Integrador</h1> -->
          
        <nav class="menus2">
            <ul class="menus">
                <li class="menulogo"><a href="/">Integrador</a></li>
                <li class="menusup"><a href="#">Home</a></li>
                <li class="menusup"><a href="#">Our team</a></li>
                <li class="menusup"><a href="#">Projects</a></li>
                <li class="menusup"><a href="#">Contact</a></li>
                <li class="busca">
                    <form >
                        <input type="search" name="q" placeholder="Search query">
                        <input type="submit" value="Go!">
                    </form>
                </li>
    
            </ul>
        </nav>
    </header>


        <!-- <header>
            <ul id="menu"> 
                <li><a class="active" href="#">Agendei</a></li>
                <li><a class="deactive" href="#">Reservas</a></li>
                <li><a class="deactive" href="#">Agendar</a></li>
                <li><a class="deactive" href="#">Excluir</a></li>
                <li><a class="deactive" href="#">Usuários</a></li>
                <li><a class="deactive" href="#">Carrinhos</a></li>
                <li><a class="deactive" href="#">Agendamentos</a></li>
                <lir>
                    <li><a class="deactive" href="/login">Conecte-se</a></li>
                </lir>
            </ul>
        </header> -->
        <body>
            {% block content%} {% endblock %}
        </body>
        <footer>
            <!-- <ul>
                <li><a href="github.com/JoseWRPereira" target="_blank">GitHub</a></li>
                <li><a href="gitlab.com/JoseWRPereira" target="_blank">GitLab</a></li>
                <li><img src="notebook.png"></li>
            </ul> -->
            <p>©Copyleft 2050 by jwrp. All rights reversed.</p>
        </footer>
    </body>
</html>