<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/manager.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/reservations.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
        <title>{% block title %}{% endblock %}</title>
        <script src="https://kit.fontawesome.com/22e5ea0d80.js" crossorigin="anonymous"></script>    
    </head>
    <body>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <i class="fa-solid fa-rocket"></i>
                    <div class="logo_name">Integrador</div>
                </div>
                <i class="fa-solid fa-bars" id="btn"></i>
            </div>
            <ul class="nav_list">
                <li>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Procurar">
                    <span class="tooltip">Procurar</span>
                </li>
                <li>
                    <a href="/">
                        <i class="fa-solid fa-table-cells-large"></i>                            <span class="links_name">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="/reservations">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="links_name">Reservas</span>
                    </a>
                    <span class="tooltip">Reservas</span>
                </li>
                {% if 'username' in session: %}
                <li>
                    <a href="/scheduling">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span class="links_name">Agendamento</span>
                    </a>
                    <span class="tooltip">Agendamento</span>
                </li>
                {% endif %}
                {% if session['admin']==True: %}
                <li>
                    <a href="/cars/manager">
                        <i class="fa-solid fa-cart-flatbed"></i>
                        <span class="links_name">Ger.Carrinhos</span>
                    </a>
                    <span class="tooltip">Ger.Carrinhos</span>
                </li>
                {% endif %}
                {% if session['admin']==True: %}
                <li>
                    <a href="/users/manager">
                        <i class="fa-solid fa-users"></i>
                        <span class="links_name">Ger.Usuários</span>
                    </a>
                    <span class="tooltip">Ger.Usuários</span>
                </li>
                {% endif %}
                <li>
                    {% if 'username' in session: %}
                    <a href="/logoff">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="links_name">Sair</span>
                    </a>
                    <span class="tooltip">Sair</span>
                    {% else: %}
                    <a href="/login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <span class="links_name">Entrar</span>
                    </a>
                    <span class="tooltip">Entrar</span>
                    {% endif %}

                </li>
            </ul>
            <div class="profile_content">
                <div class="profile">
                    <div class="profile_details">
                        {% if 'username' in session: %}
                        <img src="/static/images/tux.jpg" alt="Tux">
                        {% else: %}
                        <!-- <img src="/static/images/nouser.png" alt=""> -->
                        {% endif %}
                        <div class="name_job">
                            {% if 'username' in session: %}
                            <div class="name"> {{ session['email'] }} </div>
                            <div class="job"> {{ session['nif']}} </div>
                            {% else: %}
                            <div class="name">  </div>
                            <div class="job">  </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- <i class="fa-solid fa-right-from-bracket" id="logout"></i> -->
                </div>
            </div>
        </div>
        <div class="home_content">
            {% block content%} {% endblock %}
        </div>
        <script src="/static/js/dashboard.js"></script>
    </body>
</html>