{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<form action="" method="POST">
    <h3>Novo usuário</h3>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {{ form_newuser.csrf_token }}
    {{ form_newuser.name( placeholder="Nome completo", maxlength="50" ) }}
    {{ form_newuser.nif( placeholder="Num. Ident. Funcional", maxlength="10" ) }}
    {{ form_newuser.email( placeholder="usuario@email.com", maxlength="50" ) }}
    {{ form_newuser.password( placeholder="Senha", maxlength="10") }}
    {{ form_newuser.password_confirm( placeholder="Confirme a Senha", maxlength="10") }}
    <input type="submit" value="Criar" name="newuser_btn">

</form>


<script src="/static/js/newuser.js"></script>
{% endblock %}
