{% extends 'base.html' %}

{% block title %} Reservas {% endblock %}

{% block content %}
<form class="reservations" method="POST">
    <div class="calendar">
        <label for="calendario">Calendário</label>
        <!-- <i class="fa-solid fa-angle-left"></i> -->
        <input type="date" id="calendario" name="calendario" value="{{session['reservation_date']}}">
        <!-- <i class="fa-solid fa-angle-right"></i> -->
        <input type="submit" value="Buscar" id="buscar_btn">
    </div>
    <br>
    <table>
        <tr>
            <td>Carrinho</td>
            <td>Manhã</td>
            <td>Tarde</td>
            <td>Noite</td>
        </tr>
        {% for registro in lst %}
        <tr>
            {% for i in registro: %}
                {% if i == 'm' or i == 't' or i == 'n':%}
            <td> </td>
                {% else:%}
            <td> {{i}} </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
