{% extends 'base.html' %}

{% block title %} Agendamento {% endblock %}

{% block content %}
<form class="reservations" method="POST">
    <div class="calendar">
        <label for="calendario">Calendário</label>
        <input type="date" id="calendario" name="calendario" min="{{session['today_date']}}" max="{{session['max_date']}}" value="{{session['reservation_date']}}">
        <input type="submit" value="Buscar" id="buscar_btn">
    </div>
    <br>
    <table>
        <tr>
            <td>Carrinho</td>
            <td>Manhã</td>
            <td>Tarde</td>
            <td>Noite</td>
        </tr>
        {% for registro in lst %}
        <tr>
            <td> {{registro[0]}} </td>
            {% for i in range(1,4): %}
                {% if registro[i] == session['id']: %}
            <td><a href="/scheduling/cancel/{{ registro[0] }}/{{ i }}">Cancelar</a></td>
                {% elif registro[i] == 'm' or registro[i] == 't' or registro[i] == 'n': %}
            <td><a href="/scheduling/reservar/{{ registro[0] }}/{{ i }}">Reservar</a></td>
                {% else:%}
            <td> {{registro[i]}} </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
