{% extends 'base.html' %}

{% block title %} Gerenciamento de Usuários {% endblock %}

{% block content %}

<form class="manager_form" action="" method="POST">
    <h3>Gerenciamento de Usuários</h3>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}  
    {% if 'username' in session: %}
    <table>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>E-mail</td>
            <td>NIF</td>
            <td>Admin</td>
            <td>Ações</td>
        </tr>
                {% for registro in users %}
        <tr>
            {% for campo in registro %}
            <td> {{ campo }} </td>
            {% endfor %}
            <td><a href="/users/edit/{{registro[0]}}">Editar</a></td>
            <td><a href="/users/delete/{{registro[0]}}">Excluir</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</form>

{% endblock %}
