{% extends 'base.html' %}

{% block title %} Usuários {% endblock %}

{% block content %}

<form action="" method="POST">
    <h3>Usuários</h3>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}  
    {% if 'username' in session: %}
    <table border="1">
        {% for registro in users %}
        <tr>
            {% for campo in registro %}
            <td> {{ campo }} </td>
            {% endfor %}
            <td>
                <a href="/users/delete/{{registro[0]}}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</form>

{% endblock %}
